<div class="modal fade"  id="{{ 'conversation'~comment.id }}">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Conversation: Article {{ comment.post.title }} - Commentaire de {{ comment.user.username }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="box-comments">
                    <ul class="list-comments">
                        {% if comment.parent%} {% set parent=comment.parent %}
                            <div class="comment-details">
                                <h4 class="comment-author">{{  parent.user.username}} </h4>
                                <span>{{ parent.datetime|date('d/m/Y') }} à {{ parent.datetime|date('H:m') }}</span>
                                <p>
                                    {{ parent.content}}
                                </p>
                            </div>
                        {% endif %}
                        <li>
                            <div class="comment-details">
                                <h4 class="comment-author">{{  comment.user.username}} </h4>
                                <span>{{ comment.datetime|date('d/m/Y') }} à {{ comment.datetime|date('H:m') }}</span>
                                <p>
                                    {{ comment.content}}
                                </p>
                            </div>
                            {% if comment.children |length >0 %}
                                <ul>
                                    {% for child in comment.children %}
                                        <li class="comment-children mt-auto">
                                            <div class="comment-details">
                                                <h4 class="comment-author">{{  child.user.username}} </h4>
                                                <span>{{ child.datetime|date('d/m/Y') }} à {{ child.datetime|date('H:m') }}</span>
                                                <p>
                                                    {{ child.content}}
                                                </p>
                                            </div>
                                            {% if child.children |length >0 %}
                                                <ul>
                                                    {% for grandChild in child.children %}
                                                        <li class="comment-children">
                                                            <div class="comment-details">
                                                                <h4 class="comment-author">{{  grandChild.user.username}} </h4>
                                                                <span>{{ grandChild.datetime|date('d/m/Y') }} à {{ grandChild.datetime|date('H:m') }}</span>
                                                                <p>
                                                                    {{ grandChild.content}}
                                                                </p>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>