@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body {
  font-family: Lato, sans-serif;
}

.btn-primary {
  background: #24b67e;
  border: 1px solid transparent;
}

.btn-primary:hover,
button.btn.btn-primary.dropdown-toggle,
button.btn.btn-primary.dropdown-toggle:hover {
  color: #24b67e;
  background: #fff;
  border: 2px solid #24b67e;
}

.navbar-b .navbar-brand,
.navbar-b.navbar-trans .nav-link,
.intro .intro-title,
.intro,
.intro-content p {
  color: #1e1e1e;
}

.intro.route.bg-img {
  background-size: 100%;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.intro.route.bg-image {
  background-size: 28%;
  background-position: left bottom;
}

.intro .overlay-itro {
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0.1;
}

.card-blog .blog.card-img {
  max-height: 30%;
  padding: 0.5rem;
}

.card-blog .blog.card-img img.img-fluid {
  display: block;
  max-height: 100%;
}

form.user .form-control-user {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 1.5rem 1rem;
}

form.user .btn-user {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 0.75rem 1rem;
}

.blog-wrapper .post-box .post-content > blockquote {
  border-left: 4px solid #24b67e;
  padding: 18px;
  font-style: italic;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.list-comments > li ul {
  list-style: none;
}

.error {
  padding: 1em;
  margin-bottom: 1em;
  background-color: lightpink;
  text-align: center;
}

.success {
  padding: 1em;
  margin-bottom: 1em;
  background-color: #1ca877;
  text-align: center;
}

.success-bg {
  min-height: 65vh;
}

.custom-file-label::after {
  content: 'Choisir' !important;
}

.cookie-consent {
  /* Hide by default */
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #222;
  color: #fff;
  font-size: 1em;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, serif;
  box-sizing: border-box;
  padding: 15px 30px 15px;
}

.cookie-consent p {
  float: left;
  width: 80%;
  margin: 0;
}

.cookie-consent a {
  color: #fff;
}

.cookie-consent .btn {
  cursor: pointer;
  font-size: 1em;
  color: #fff3cd;
  background-color: #c70;
  border: 1px solid transparent;
  border-radius: 7px;
  text-align: center;
  padding: 8px 15px;
  display: block;
  width: 20%;
  margin-left: 10px;
  float: right;
  max-width: 120px;
}

.cookie-consent .btn:hover,
.cookie-consent .btn:active {
  background-color: #d6d8d9;
  border-color: #c6c8ca;
  color: #1b1e21;
}

.navbar-nav {
  align-items: baseline;
}

@media (max-width: 480px) {
  .hidden-xs {
    display: none;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 100% !important;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 0;
  }
}