{% extends 'back/layout.html.twig' %}

{% block body %}
<div class="container-fluid">
    <h1 class="section-title">Editer {{ home.homeName }}</h1>
        <section class="row">
            <div class="col-12">
                <div class="card bg-gradient-primary text-white">
                    <div class="card-header bg-primary-card-header">
                    <h5 class="">Options de la configuration</h5>
                    </div>
                    <div class="card-body text-dark">
                        <div class="row">
                            <div class="col-12 ">
                                <div class="row">

                                    <div class="card col-lg-5 col-1sm-12 mx-auto mb-sm-2 " >
                                        <div class="card-body">
                                            <h5 class="card-title">Activer cette configuration</h5>
                                            <div class="activate-home">
                                                {% include 'back/home/home.activate.html.twig' %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card col-lg-5 col-sm-12 mx-auto" >
                                        <div class="card-body">
                                            <h5 class="card-title">Changer le nom de la configuration</h5>
                                            <form method="POST" action="/admin/home/edition/name">
                                                <div class="form-inline">
                                                    <label for="homeEditName"></label>
                                                    <input class="form-control form-inline" type="text" name="homeEditName" id="homeEditName" value="{{ home.homeName }}">
                                                    <input id="homeid" name="homeid" type="hidden" value="{{ home.id }}">
                                                    <button type="submit" class="btn btn-success">Changer</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section  class="row mt-5">
            <div class="col-12">
                <div class="card bg-gradient-primary " id="home-settings">
                    <div class="card-header bg-primary-card-header text-white ">
                    <h5 class="">Options de la page d'accueil</h5>
                    </div>
                    <div class="card-body">
                    <div class="row">
                        <div class="col-12 ">
                            <nav>
                                <div class="nav nav-tabs nav-pills" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-site-info-tab" data-toggle="tab" href="#nav-site-info" role="tab" aria-controls="nav-site-infos" aria-selected="true">Site</a>
                                    <a class="nav-item nav-link" id="nav-owner-infos-tab" data-toggle="tab" href="#nav-owner-infos" role="tab" aria-controls="nav-owner-infos" aria-selected="false">Infos Persos</a>
                                    <a class="nav-item nav-link" id="nav-owner-skills-tab" data-toggle="tab" href="#nav-owner-skills" role="tab" aria-controls="nav-owner-skills" aria-selected="false">Compétences</a>
                                    <a class="nav-item nav-link" id="nav-owner-socials-tab" data-toggle="tab" href="#nav-owner-socials" role="tab" aria-controls="nav-owner-socials" aria-selected="false">Réseaux sociaux</a>
                                    <a class="nav-item nav-link" id="nav-owner-about-tab" data-toggle="tab" href="#nav-owner-about" role="tab" aria-controls="nav-owner-about" aria-selected="false">A propos</a>
                                </div>
                            </nav>
                            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-site-info" role="tabpanel" aria-labelledby="nav-site-info-tab">
                                    {% include 'back/home/site.infos.html.twig' %}
                                </div>
                                <div class="tab-pane fade" id="nav-owner-infos" role="tabpanel" aria-labelledby="nav-owner-infos-tab">
                                    {% include 'back/home/owner.infos.html.twig' %}
                                </div>
                                <div class="tab-pane fade" id="nav-owner-skills" role="tabpanel" aria-labelledby="nav-owner-skills-tab">
                                    {% include 'back/home/owner.skills.html.twig' %}
                                </div>
                                <div class="tab-pane fade" id="nav-owner-socials" role="tabpanel" aria-labelledby="nav-owner-socials-tab">
                                    {% include 'back/home/owner.socials.html.twig' %}
                                </div>
                                <div class="tab-pane fade" id="nav-owner-about" role="tabpanel" aria-labelledby="nav-owner-about-tab">
                                    {% include 'back/home/owner.about.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script>
        function editSkill(skillId) {
            $.ajax(
                {
                    url:'/admin/home/skill/edition',
                    method: 'POST',
                    data:{
                        'skillId' : skillId,
                        'skillName': $('#name'+skillId).html(),
                        'skillValue': $('#value'+skillId).html(),
                    },
                    success:function(skillData){
                        $("#skillRow"+skillId).addClass('success').html(skillData);
                        setTimeout(function () {
                            $("#skillRow"+skillId).removeClass('success');
                        }, 2000);
                        $("#skillId").addClass('success');
                    }
            });
        }

        function deleteSkill(skillId,homeId) {
            $.ajax(
                {
                    url: '/admin/home/skill/delete',
                    method: 'POST',
                    data: {
                        'skillId': skillId,
                        'homeId': homeId
                    },
                    success: function (data) {
                        $("#skill"+homeId).html(data);
                    }
                });
            }

    </script>
{% endblock %}