{% extends 'back/layout.html.twig' %}

{% block body %}
<div class="container-fluid">
    <h1>Gestion de la Page d'Accueil</h1>
    <div class="card">
        <h5 class="card-header">Editer/Créer une configuration pour la page d'accueil</h5>
        <div class="card-body">
            <form class="col-12" id="form-select-home" >
                <div class="form-group">
                    <label for="home-select">Choisir la Page d'accueil à éditer:</label>
                    <select class="form-control" id="home-select" name="homeId">
                        <option selected>Choisir</option>
                        {% if homes %}
                            {% for h in homes %}
                                <option value="{{ h.id }}">{{ h.homeName }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>

                </div>
            </form>
            <p class="card-text"><strong>Ou</strong></p>
            <form class="col-12" method="post" action="/admin/home/config/creation">
                <div class="form-group">
                    <label for="homeName">Créer une nouvelle configuration de page d'accueil</label>
                    <input class="form-control" id="homeName" name="homeName" type="text" placeholder="Entrer un nom pour la configuration" required>
                </div>
                <button class="btn btn-success" type="submit">Créer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script>
        $('#home-select').change(function(){
            let homeId = $(this).val();
            location.href='/admin/home/edition/'+homeId;
        });
    </script>
{% endblock %}