<div class="row border-bottom text-center">
    <div class="col-3 border-right">Nom de la Compétence</div>
    <div class="col-3 border-right">Valeur de la Compétence</div>
    <div class="col-1 border-right">Valider</div>
    <div class="col-1">Supprimer</div>
</div>
{% if home.skills  %}
    {% for skill in home.skills %}
        <div class="row text-center skill" id="{{ 'skillRow'~skill.id }}">
        {% include 'back/home/skill.row.html.twig' %}
        </div>
    {% endfor %}
{% endif %}
