<form method="post" action="{{ '/admin/home/edition-submit' }}" enctype="multipart/form-data">
    <div class="row mb-2 pt-2 pr-2 pb-2 bg-light">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="custom-file mb-5"  >
                        <input type="file" name="pdf" id="owner-pdf" class="custom-file-input file-pdf border-dark">
                        <label for="owner-pdf" class="pdf-file-label custom-file-label btn btn-outline-success ">mon-cv.pdf....</label>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="row " style="height: 455px; overflow-y: hidden;" >
                        <embed  class="col-12 filepdf" {% if home.pdf %} src="{{ '/'~home.pdf }}" {% else%} src="" {% endif%} style="overflow: hidden" height="455px" type='application/pdf'/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class=" custom-file " >
                        <input type="file" name="image" id="owner-profile-pic" class="custom-file-input file-img col-12 border-dark" >
                        <label for="owner-profile-pic" class="img-file-label custom-file-label btn btn-outline-success ">monimage.png....</label>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="row border-dark"  style="height: 455px; background-color: rgb(82, 86, 89);" >
                        <div class=" pt-2 col-12 text-center font-weight-bold" style="height: 60px;background-color: #000000;">{% if home.profilePic %}{{ home.profilePic.name }}{% endif%}</div>
                        <img class="img-rounded fileimg-owner-profile-pic img-fluid" {% if home.profilePic %} src="{{ '/'~home.profilePic.path }}" {% else%} src="" {% endif%} >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-2 pr-2 pb-2 bg-light">
        <div class="col-12">
            <div class="form-row mb-2">
                <div class="input-group col-lg-4 col-md-12 col-sm-12 mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="home-title">Titre</span>
                    </div>
                    <input type="text" class="form-control" id="owner-title" name="title" value="{{ home.title }}" aria-label="Titre" aria-describedby="home-title">
                </div>
                <div class="input-group col-lg-4 col-md-12 col-sm-12 mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="home-first-name">Prénom</span>
                    </div>
                    <input type="text" class="form-control" id="owner-first-name" name="firstName" value="{{ home.firstName }}" aria-label="Prénom" aria-describedby="home-first-name">
                </div>
                <div class="input-group col-lg-4 col-md-12 col-sm-12 mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="home-last-name">Nom</span>
                    </div>
                    <input class="form-control" id="owner-last-name" name="lastName" value="{{ home.lastName }}" aria-label="Nom" aria-describedby="home-last-name">
                </div>
            </div>
            <div class="form-row">
            <div class="input-group col-lg-6 col-md-12 col-sm-12">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="home-phone">Téléphone</span>
                </div>
                <input type="text" class="form-control" id="owner-phone" name="phone" value="{{ home.phone }}" aria-label="Nom" aria-describedby="home-phone">
            </div>
            <div class="input-group col-lg-6 col-md-12 col-sm-12">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="home-email">Email</span>
                </div>
                <input class="form-control" id="owner-email" name="email" value="{{ home.email }}"  aria-label="Nom" aria-describedby="home-email" >
            </div>
            </div>
        </div>
    </div>
    <input type="hidden" value="{{ home.id }}" name="homeId">
    <div class="row">
        <button type="submit" class="custom-file-control btn btn-primary">Submit</button>
    </div>
</form>