<div class="card col-12 text-dark" id="{{ 'skill'~home.id}}">
{% include 'back/home/inside.owner.skills.html.twig' %}
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSkill">Ajouter une Compétence</button>

<!-- Modal -->
<div class="modal fade" id="addSkill" tabindex="-1" role="dialog" aria-labelledby="addSkillLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSkillLabel">Ajouter une Compétence</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-skill-create" method="post" action="{{ '/admin/home/skill/create' }}">
                    <div class="row">
                        <div class="form-group">
                            <label for="owner-skill-name"></label>
                            <input type="text" class="form-control" id="owner-skill-name" name="owner-skill-name" placeholder="Nom de la compétence">
                        </div>
                        <div class="form-group">
                            <label for="owner-skill-value"></label>
                            <input type="text" class="form-control" id="owner-skill-value" name="owner-skill-value" placeholder="Valeur de la compétence">
                        </div>
                    </div>
                    <input type="hidden" name="homeId" value="{{ home.id }}">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" onclick="$('#form-skill-create').submit();" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
    </div>
</div>

