<form method="post" action="{{ '/admin/home/social/edition/'~home.id }}" >
    <div class="row">
        <div class="input-group col">
            <div class="input-group-prepend">
                <span class="input-group-text" ><i class="icon ion-social-linkedin"></i></span>
            </div>
            <input type="text" class="form-control" id="linkedin" name="linkedin" placeholder="{{ home.linkedin }}">
        </div>
        <div class="input-group col">
            <div class="input-group-prepend">
                <span class="input-group-text ico-circle"><i class="ion-social-twitter"></i></span>
            </div>
            <input type="text" class="form-control" id="twitter" name="twitter" placeholder="{{ home.twitter }}">
        </div>
    </div>
    <div class="row">
        <button type="submit" class="custom-file-control btn btn-primary">Submit</button>
    </div>
</form>