<form method="post" action="{{ '/admin/home/site/edition/'~home.id }}" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-3 col-md-12 col-lg-12">
            <div class="">
                {% if home.logo %}<img src="{{'/'~home.logo.path  }}" class="fileimg-site-logo mx-auto  img-fluid img-circle d-bloc" alt="avatar">{% else %} <img src="//placehold.it/150" class="fileimg-site-logo mx-auto img-fluid img-circle d-bloc" alt="avatar">{% endif %}
                <h6 class="mt-2">Changer la photo</h6>
            </div>
            <div class="custom-file ">
                <input type="file" name="site-logo" id="site-logo" class="custom-file-input file-img border-dark">
                <label for="site-logo" class="custom-file-label img-file-label btn btn-outline-success ">logo.png....</label>
            </div>
        </div>
        <div class="col-sm-9 col-md-12 col-lg-12">
            <div class="form-group">
                <label for="site-name"></label>
                <input type="text" class="form-control" id="site-name" name="site-name" {% if home.siteName%} value="{{ home.siteName }}" {% else%} placeholder="Entrez un nom pour votre site"{% endif %}>
            </div>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="custom-file-control btn btn-primary">Submit</button>
    </div>
</form>