<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Utilisateurs</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Date d'inscription</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Activer/Desactiver</th>
                    <th>Supprimer</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Date d'inscription</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Activer/Desactiver</th>
                    <th>Supprimer</th>
                </tr>
                </tfoot>
                <tbody id="usersList">
                {% for user in users %}
                    <tr  {% if user.isActivated %} class="bg-light text-dark" {% else %} class=" bg-gray-200" {% endif %} >
                        <td>{{ user.id }}</td>
                        <td>{{ user.subscriptionDate|date('d/m/Y')}}</td>
                        <td><a href="#" data-toggle="modal" data-id="{{ user.id }}" data-target="{{ '.profile'~user.id}}">{{ user.userName }}</a></td>
                        <td><a href="{{'mailto:'~user.email }}"> {{ user.email }}</a> </td>
                        <td><ul class="d-sm-inline-flex text-decoration-none list-unstyled "> <li  class="mr-sm-4 " ><a {% if not user.isActivated %} class="active text-primary font-weight-bold" {% else%} class="text-black-50" {% endif %}href="javascript:manageActive('1',{{ user.id }})">ACTIVER</a></li><li ><a {% if  user.isActivated %} class="active text-primary font-weight-bold"{% else%} class="text-black-50"  {% endif %} href="javascript:manageActive('0',{{ user.id }})">DESACTIVER</a></li></ul></td>
                        <td><i class="fa fa-trash-alt"></i></td>
                        {% include '/user/profile.html.twig' with {'user':user} %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function manageActive(status, userId){
        $.ajax(
            {
                url:'/admin/users/manage-status',
                method: 'POST',
                data:{
                    'status':status,
                    'userId' : userId
                },
                success:function(data){
                    // console.log(data);
                    // $("#user"+userId).html(data);
                    location.reload();
                }
            });
    }

    function deleteUser(userId){
        $.ajax(
            {
                url:'/admin/users/delete',
                method: 'POST',
                data:{
                    'userId' : userId
                },
                success:function(Userdata){
                    $("#usersList").html(Userdata);
                }
            });
    }

</script>