{% extends '/front/layout.html.twig' %}
{% block header %}{% include'front/blocs/include.post.header.html.twig' %}{% endblock %}
{% block link %}<p><a href="{{ '/blog/posts/list'}}">Retour à la liste des billets</a></p>{% endblock %}
{% block content %}
   {% include '/front/blocs/include.post.view.html.twig' %}
{% endblock %}
{% block sidebar %}
   {% include '/front/blocs/widget.sidebar.html.twig' %}
{% endblock %}
{% block scripts %}
   <script>
      function showACForm(id) {
         let elementId = 'answerComment'+id;
         let answer = document.getElementById(elementId);
         answer.innerHTML += "<form class='form-mf' action='{{"/blog/post/repondre/commentaire/"~post.id~"/"}}"+id+"' method='post'>"+
            "<div class='row'>"+
               "<div class='col-md-12 mb-3'>"+
                  "<div class='form-group'>"+
                     "<label for='comment-content'>Entrez votre réponse</label><br />"+
                     " <textarea id='comment-content' class='form-control input-mf' name='comment-content'  cols='45' rows='8' required></textarea>" +
                     "</div>"+
                  "</div>"+
               "<div class='col-md-12'>"+
                  "<input type='submit' class='button button-a button-big button-rouded' value='Envoyer'>"+
                  "</div>"+
               "</div>"+
            "</form>"+
         "</div>";
      }
   </script>
{%endblock %}



