<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">

            <title>{% block title %}{% endblock %}Virginie Botiba - Admin</title>

            <!-- Custom fonts for this template-->
            <link href="/back/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

            <!-- Custom styles for this template-->
            <link href="/back/css/sb-admin-2.min.css" rel="stylesheet">
            <link href="/back/css/admin.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body id="page-top" >
    <!-- Page Wrapper -->
        <div id="wrapper" >
            <!-- Sidebar -->
            {% include 'back/blocs/sidebar.html.twig' %}
            <!-- End of Sidebar -->
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <!-- Topbar -->
                    {% include 'back/blocs/navbar.html.twig' %}
                    <!-- End of Topbar -->
                    {% block body %}
                    {% endblock %}
                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                {% include 'back/blocs/footer.html.twig' %}
                <!-- End of Footer -->
            </div>
            <!-- End of Content Wrapper -->
            <!-- Logout Modal-->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Vous nous quittez?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Cliquez sur "Deconnexion" si vous souhaitez terminer votre session.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                            <a class="btn btn-primary" href="/deconnexion">Deconnexion</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        {% include 'back/blocs/scroll2top.button.html.twig' %}

        {% block scripts %}
            <!-- Bootstrap core JavaScript-->
            <script src="/back/vendor/jquery/jquery.min.js"></script>
            <script src="/back/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <!-- Core plugin JavaScript-->
            <script src="/back/vendor/jquery-easing/jquery.easing.min.js"></script>
        {%endblock %}
        {% block custom %}
            <!-- Custom scripts for all pages-->
            <script src="/back/js/blog-admin.js"></script>
            <script src="/back/js/sb-admin-2.min.js"></script>

        {% endblock %}
    </body>
</html>