<form method="post" action="{{ '/admin/posts/submit' }}" enctype="multipart/form-data">
    <div class="row">
        <div class="col-4">
            <div class="mt-lg-4">
                <img class="fileimg-add-post-image fileimg w-100" src="https://picsum.photos/200" >
            </div>
            <div class="custom-file ">
                <input type="file" name="post-image" id="add-post-image" class="custom-file-input file-img border-dark">
                <label for="add-post-image" class="img-file-label custom-file-label btn btn-outline-success ">monimage.png....</label>
            </div>
        </div>
        <div class="col-8">
            <div class="form-group">
                <label for="post-title"></label>
                <input type="text" class="form-control" id="post-title" name="post-title" placeholder="Entrez le titre de l'article">
            </div>
            <div class="form-group">
                <label for="post-chapo"></label>
                <textarea class="form-control" id="post-chapo" name="post-chapo" placeholder="Entrez le contenu du chapo" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="p-content"></label>
        <textarea name="content" class="content" id="p-content" ></textarea>
    </div>
    <div class="row">
        <button type="submit" class="custom-file-control btn btn-primary">Submit</button>
    </div>
</form>