{% for post in posts %}
    <tr>
        <td><i class=""></i> {{ post.id }}</td>
        <td><i class="tooltip"></i> {{ post.title }}</td>
        {% if datatarget == 'postList' %}
            <td>{{ post.creationDateTime|date('d/m/Y') }}</td>
            <td>{% if post.lastUpdateDateTime is not null %}{{ post.lastUpdateDateTime|date('d/m/Y') }}{% else %}{{ '' }}{% endif %}</td>
            <td  id="{{ 'post'~post.id }}">{% include 'back/post/post.status.html.twig' %}</td>
            <td><a href="{{'/admin/posts/edition/'~post.id}}"><i class="fa fa-edit"></i></a></td>
            <td><a href="javascript:deletePost({{ post.id }}, '{{ datatarget }}');"><i class="fa fa-trash-alt"></i></a></td>
        {% else %}
            <td class="text-gray-300"><i class="fa fa-check-square text-gray-300"></i> <em>Fonctionnalité à venir</em> </td>
            <td><a class="text-danger" href="javascript:removePost({{ post.id }}, '{{ datatarget }}');"><i class="fa fa-trash-alt "></i> Supprimer</a></td>
        {% endif %}
    </tr>
{% endfor %}

