<span>{{ post.status }}</span><br><ul class="d-sm-inline-flex text-decoration-none list-unstyled " style="font-size: xx-small"><li class="mr-sm-4"><a href="javascript:manageStatus('Publié',{{ post.id }});">Publier</a></li> <li  class="mr-sm-4"><a href="javascript:manageStatus('Brouillon',{{ post.id }})">Dépublier</a></li><li><a href="javascript:manageStatus('Archivé',{{ post.id }})">Archiver</a></li></ul>
