<!-- About Section -->
<section id="about" class="about-mf sect-pt4 route">
    <h3 class="title-a text-center">A Propos</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
{#                    <h3 class="title-a">A Propos</h3>#}
                    <div class="line-mf"></div>
                </div>
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <div class="about-img">
                                        <img src="{{ home.profilePic.path }}" class="img-fluid rounded b-shadow-a" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <div class="about-info">
                                        <p><span class="title-s">Nom: </span> <span>{{ home.firstName }} {{ home.lastName }}</span></p>
                                        <p><span class="title-s">Profil: </span> <span>{{ home.title }}</span></p>
                                        <p><span class="title-s">Email: </span> <a href="{{ 'mailto:'~home.email }}"> <span>{{ home.email }}</span></a></p>
                                        <p><span class="title-s">Téléphone: </span> <span>{{ home.phone }}</span></p>
                                        <p><span class="title-s"><i class="fas fa-lg fa-file-pdf "></i> </span> <a href="{{ home.pdf }}" target="_blank"><span> moncv.pdf</span></a> </p>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-mf">
                                <p class="title-s">Compétences</p>
                                {% for skill in home.skills %}
                                <span>{{ skill.name }}</span> <span class="pull-right">{{ skill.value }}%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: {{ skill.value }}%;" aria-valuenow="85" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-me pt-4 pt-md-0">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        Quelques Mots
                                    </h5>
                                </div>
                                {{ home.about|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
