<!--/ Section Contact-Footer Star /-->
<section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                       Ecrivez moi!
                                    </h5>
                                </div>
                                <div>
                                    <form action="/blog/contact-message" method="post" class="contactForm">
                                        <div id="sendmessage"></div>
                                        <div id="errormessage"></div>
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <label for="name">Nom : </label>
                                                    <input type="text" name="name" class="form-control" id="name"  data-rule="minlen:4" data-msg="Votre nom doit être un peu plus long!" />
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <label for="email">Email : </label>
                                                    <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Merci d'entrer une adresse mail valide" />
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <label for="subject">Objet :</label>
                                                    <input type="text" class="form-control" name="subject" id="subject"  data-rule="minlen:4" data-msg="Merci de renseigner l'objet de votre message" />
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <label for="content">Message : </label>
                                                    <textarea id="content" class="form-control" name="message" rows="5" data-rule="required" data-msg="Merci d'entrer votre message" ></textarea>
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <input type="submit" class="button button-a button-big button-rouded" value="Envoyer">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="title-box-2 pt-4 pt-md-0">
                                    <h5 class="title-left">
                                        Restons en contact
                                    </h5>
                                </div>
                                <div class="more-info">
                                    <p class="lead">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum dolorem soluta quidem
                                        expedita aperiam aliquid at.
                                        Totam magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis
                                        mollitia inventore?
                                    </p>
                                    <ul class="list-ico">
                                        <li><span class="ion-ios-location"></span>15000 AURILLAC, FRANCE</li>
{#                                        <li><span class="ion-ios-telephone"></span> (617) 557-0089</li>#}
                                        <li><span class="ion-email"></span> dustmslf@gmx.fr</li>
                                    </ul>
                                </div>
                                <div class="socials">
                                    <ul>
                                        <li><a href="{{ home.linkedin }}" target="_blank"><span class="ico-circle"><i class="ion-social-linkedin"></i></span></a></li>
                                        <li><a href="{{ home.twitter }}" target="_blank"><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#</section>#}