<div class="form-comments">
    <div class="title-box-2">
        <h3 class="title-left">
            Editer un Commentaire
        </h3>
    </div>
    <form class="form-mf" action='{{"/blog/comment/edition-submit/"~comment.id}}' method="post">
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="form-group">
                    <label for="comment-content">Commentaire</label><br />
                    <textarea id="comment-content" class="form-control input-mf" name="comment-content"  cols="45" rows="8" required>{{ comment.content }}</textarea>
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" class="button button-a button-big button-rouded" value="Envoyer">
            </div>
        </div>
    </form>
</div>
