<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container-fluid">
{#        <a class="navbar-brand js-scroll" href="/"><img src="{{ '/'~session.home.logo.path }}" alt="{{ session.home.siteName }}"></a>#}
        <a class="navbar-brand js-scroll" href="/"><img src="{{ '/'~session.logo }}" alt="{{ session.siteName }}"></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
                aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll " href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll" href="/#about">A propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll" href="/blog/posts/list">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll" href="/#contact">Contact</a>
                </li>
                {% if session.loggedin == true %}
                <li class="nav-item">
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            Bonjour {{ session.userUsername }}
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/user/account">Mon compte</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/deconnexion">Deconnexion</a>
                        </div>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link js-scroll" href="/connexion">Connexion</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
