<div id="home" class="intro route">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">
                <p class="display-6 color-d">PHP/Symfony/JS</p>
                <h1 class="intro-title mb-4">Backend Junior Developer</h1>
                <p class="intro-subtitle">
                    <span class="text-slider-items"> Développons Votre Vision Ensemble </span>
                    <strong class="text-slider"></strong>
                </p>
                <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Plus</a></p>
            </div>
        </div>
    </div>
</div>
