{% extends './front/layout.html.twig' %}
{% block body %}
  <div class="bg-gradient-primary "  style="padding: 10%; color: black;">
  {% include 'front/blocs/include.nav.html.twig' %}
  {% block container %}
    <div class="row mt-5 my-5 mt-5 py-xl-5">
    <!-- Outer Row-->
    <div class="card o-hidden border-0 shadow-lg col-sm-12 col-lg-8 offset-lg-2  my-5 mt-5 py-xl-5  ">
      <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Bienvenue!</h1>
                  </div>
                  {% if exception.message %}
                  <div class="error">
                    {{ exception.message|raw }}
                  </div>
                  {% endif %}
                  <div class="alert-success">
                    {{ message }}
                  </div>
                  <form class="user" method="post" action="/connexion/check">
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" name="email" id="email" aria-describedby="Entrez votre Email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" name="password" id="password" placeholder="Mot de passe" required>
                    </div>
                    <input type="submit" class="btn btn-primary btn-user btn-block" value="connexion">
                  </form>
                  <hr>
                  <div class="text-center">
{#                    <a class="small" href="forgot-password.html">Forgot Password?</a>#}
                  </div>
                  <div class="text-center">
                    <a class="small" href="/enregistrement">Créez votre Compte!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  {% endblock %}

{#  <!-- Bootstrap core JavaScript-->#}
{#  <script src="vendor/jquery/jquery.min.js"></script>#}
{#  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>#}

{#  <!-- Core plugin JavaScript-->#}
{#  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>#}

{#  <!-- Custom scripts for all pages-->#}
{#  <script src="js/sb-admin-2.min.js"></script>#}


  {% endblock %}

