{% extends './front/layout.html.twig' %}
{% block body %}
<div class="bg-gradient-primary"  style="padding: 10%;">
    {% include 'front/blocs/include.nav.html.twig' %}
    {% block container %}
    <div class="row mt-5 py-xl-5">
        <!-- Outer Row-->
        <div class="card o-hidden border-0 shadow-lg col-sm-12 col-lg-8 offset-lg-2  my-5 mt-5 py-xl-5  ">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
    {#                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>#}
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Créez votre Compte!</h1>
                            </div>
                            {% if exception.message %}
                                <div class="error">
                                    {{ exception.message }}
                                </div>
                            {% endif %}
                            <div class="alert-success">
                                {{ message }}
                            </div>
                            <form class="user" method="post" action="/enregistrement/validation">
                                <div class="form-group ">
                                    <input type="text" class="form-control form-control-user" name="username" id="username" placeholder="Nom d'Utilisateur" required>
                                    <label for="username"></label>
                                </div>
                                <div class="form-group ">
                                    <input type="email" class="form-control form-control-user" name="email" id="email" placeholder="Addresse Mail" required pattern="^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$">
                                    <label for="email"> </label>
                                </div>
                                <div class="form-group ">
                                    <input type="password" class="form-control form-control-user" name="password" id="password" placeholder="Mot de Passe" required>
                                    <label for="password"></label>
                                </div>
    {#                            <div class="form-group ">#}
    {#                                <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password">#}
    {#                            </div>#}
                                <input type="submit" class="btn btn-primary btn-user btn-block" value="Crééz votre compte">
                            </form>
    {#                        <hr>#}
    {#                        <div class="text-center">#}
    {#                            <a class="small" href="forgot-password.html">Forgot Password?</a>#}
    {#                        </div>#}
    {#                        <div class="text-center">#}
    {#                            <a class="small" href="login.html">Already have an account? Login!</a>#}
    {#                        </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% endblock %}

