{% extends '/front/layout.html.twig' %}
{% block title %}{{ parent() }}- Blog{% endblock %}
{% block header %}
    {% include'front/blocs/include.legals.header.html.twig' %}
{% endblock %}
{% block main %}
<section class="paralax-mf footer-paralax bg-image mt-2 route" style="background-image: url(/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div  class="box-shadow-full">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="text-center">Mentions Légales</h3>
                            <p class="title-s">Editeur:</p>
                            <p>Le site myblog.ananzebatanga.com est édité par V. Botiba, dans le cadre du parcours Développeu-r-se d'Application Php Symfony d'<a href="https://openclassrooms.com/"> OpenClassrooms.</a></p>
                            <p class="title-s">Hébergeur:</p>
                            <p>Le site myblog.ananzebatanga.com est hébergé par la société Planet Hoster.</p>
                            <p>
                                4416 Louis B. Mayer, <br>
                                Laval<br>
                                Québec<br>
                                Canada, H7P 0G1 <br>
                                tél. : 1-855-774-4678
                            </p>
                            <p>Le stockage des données des Utilisateurs est exclusivement réalisé sur les serveurs localisés en France</p>
                            <p class="title-s">Nous contacter: <a href="mailto:dustmslf@gmx.fr"> dustmslf@gmx.fr</a></p>
                            <p class="title-s">Données personnelles:</p>
                            <p>
                                En application de la loi n° 78-17 du 6 janvier 1978, vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données qui vous concernent.<br>
                                Ces données sont utilisées uniquement pour la création de votre compte lors de la publication de commentaires et ne sont transmises à personne.<br>
                                Vous pouvez modifier vos données soit en vous connectant à votre compte, soit en nous contactant.
                            </p>
                            <p class="title-s">Modération:</p>
                            <p>Les articles figurants sur myblog.ananzebatanga.com pourront comporter un espace de commentaires propre à chaque article.<br>
                                Les modérateurs se réservent le droit de supprimer tout message qui ne serait pas en relation avec le thème abordé  ou qui serait contraire à la loi.</p>
                            <p class="title-s">Propriété intellectuelle – Droits d’auteurs:</p>
                            <p>Tous les éléments éditoriaux contenus dans le site myblog.ananzebatanga.com sont protégés par le droit national et international de la propriété intellectuelle.<br>
                                Certaines ressources sont open source ou proviennent de designer mettant à disposition leur travail contre citation. Notamment <a href="https://undraw.co/">undraw.co</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}